{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../../">{% trans 'Home' %}</a> &rsaquo; 
    <a href="../../../">{{ app_label|capfirst }}</a> &rsaquo; 
    <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo; 
    <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo; 
    {% trans 'Send' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

<form action="" method="post">
<div>
	<div class="module">
		<div class="form-row">
			<p>{% blocktrans with opts.verbose_name|capfirst as model_name and object|truncatewords:"18" as object_name %}
			Clicking 'Send' below will send the <a href="../">{{ object_name }}</a> {{ model_name }} to its recipients.
			{% endblocktrans %}</p>
			{% if object.sent %}
			<div class="errornote">{% trans "This campaign has already been sent at least once. Are you sure that you want to send it again?" %}</div>
			{% endif %}
		</div>
	</div>
	<input type="hidden" value="1" name="send"/>
	<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
		<input type="submit" value="{% trans 'Send' %}" class="default" name="_submit"/>
		<p></p>
	</div>
	
</div>
</form>
</div>
{% endblock %}
