{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../">{% trans 'Home' %}</a> &rsaquo; 
    <a href="../../">{{ app_label|capfirst }}</a> &rsaquo; 
    <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo; 
    {% trans 'Import' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

<form enctype="multipart/form-data" action="" method="post">
<div>
	<div class="module">
		<div class="form-row">
			{% blocktrans with opts.verbose_name|capfirst as model_name and object|truncatewords:"18" as object_name %}
			Upload a file with subscribers and salutations in json format:
			{% endblocktrans %}
			<pre>[{"email": "info@example.com", "name": "Peter"}, 
 {"email": "news@example.de", "name": "Hans"}]</pre>
			{% blocktrans %}or in csv format with ',' as delimiter:
			{% endblocktrans %}
			<pre>"info@example.com","Peter"
"news@example.de","Hans"</pre> 
			 
		</div>
		<div class="form-row">
			{{ form }}
		</div>
	</div>
	
	<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
		<input type="submit" value="{% trans 'Import' %}" class="default" name="_submit"/>
		<p></p>
	</div>
	
</div>
</form>
</div>
{% endblock %}
